Repository live-image-tracking-tools/geff, pull requests merged in 2025-08, with the labels that each got.

#287 Add logos
  README.md
  docs/images/GEFF_HorizontalLogo_RGB.png
  docs/images/GEFF_Icon_RGB.png
  docs/index.md
  mkdocs.yml
Labels: :memo: docs

#273 feat(read): Support rustworkx and spatial-graph backends in unified read function
  src/geff/io/README.md
  src/geff/io/__init__.py
  src/geff/io/read.py
  src/geff/io/supported_backends.py
  src/geff/rustworkx/io.py
  src/geff/spatial_graph/io.py
  tests/test_io.py
Labels: :car: implementation

#300 Update base_write function to take InMemoryGeff data structure
  src/geff/_graph_libs/_networkx.py
  src/geff/_graph_libs/_rustworkx.py
  src/geff/_graph_libs/_spatial_graph.py
  src/geff/_typing.py
  src/geff/convert/_ctc.py
  src/geff/core_io/_base_read.py
  src/geff/core_io/_base_write.py
  tests/test_agnostic/test_dtype_validation.py
  tests/test_agnostic/test_write_arrays.py
  tests/test_agnostic/test_write_dicts.py
Labels: :car: implementation

#137 Add a testing utility function for comparing two geffs on disk
  pyproject.toml
  src/geff/core_io/_utils.py
  src/geff/testing/_utils.py
  src/geff/validate/structure.py
  tests/test_agnostic/test_utils.py
  tests/test_networkx/test_nx_basics.py
Labels: :test_tube: test

#304 Reorganize tests to match new API organization
  tests/test_agnostic/test_dtype_validation.py
  tests/test_agnostic/test_valid_values.py
  tests/test_agnostic/test_write_arrays.py
  tests/test_agnostic/test_write_dicts.py
  tests/test_cli.py
  tests/test_convert/test_ctc.py
  tests/test_convert/test_trackmate_xml.py
  tests/test_core_io/test_base_read.py
  tests/test_core_io/test_base_write.py
  tests/test_graph_libs/test_api_wrapper.py
  tests/test_graph_libs/test_nx_basics.py
  tests/test_graph_libs/test_nx_missing_attrs.py
  tests/test_graph_libs/test_rx_basics.py
  tests/test_graph_libs/test_rx_missing_attrs.py
  tests/test_graph_libs/test_sg_basics.py
  tests/test_metadata/test_affine.py
  tests/test_metadata/test_metadata_schema.py
  tests/test_metadata/test_utils.py
  tests/test_metadata/test_valid_values.py
  tests/test_testing/test_data.py
  tests/test_validate/test_graph.py
  tests/test_validate/test_segmentation.py
  tests/test_validate/test_structure.py
  tests/test_validate/test_tracks.py
Labels: :test_tube: test

#311 Add zarr format option to ctc conversion functions
  src/geff/_cli.py
  src/geff/convert/_ctc.py
  src/geff/convert/_trackmate_xml.py
  src/geff/validate/tracks.py
Labels: :steam_locomotive: interoperability

#315 Add note to specification that group can use .geff
  docs/specification.md
Labels: :clipboard: specification

#312 Document compatibility of geff with other tools
  docs/compatibility.md
  docs/convert.md
  mkdocs.yml
  pyproject.toml
Labels: :memo: docs

#318 Refactor testing.data to return InMemoryGeff
  src/geff/testing/data.py
  tests/test_core_io/test_base_read.py
  tests/test_graph_libs/test_api_wrapper.py
  tests/test_graph_libs/test_nx_basics.py
  tests/test_graph_libs/test_rx_basics.py
  tests/test_graph_libs/test_sg_basics.py
  tests/test_testing/test_testing_data.py
  tests/test_validate/test_segmentation.py
  tests/test_validate/test_structure.py
  tests/test_validate/test_validate_data.py
Labels: :test_tube: test

#309 Add basic citation file
  CITATION.cff
Labels: :wrench: maintenance
