Repository live-image-tracking-tools/geff, pull requests merged in 2025-07, with the labels that each got.

#98 Test: Fixture for path to example GEFF file
  tests/conftest.py
  tests/test_networkx/test_nx_basics.py
Labels: :test_tube: test

#105 ensure consistent model after mutation
  src/geff/metadata_schema.py
  tests/test_agnostic/test_metadata_schema.py
Labels: :label: metadata

#120 Use os.path.expanduser to support tildes in paths
  .gitignore
  src/geff/networkx/io.py
  src/geff/utils.py
Labels: :bug: bug, :heavy_multiplication_x: networkx

#97 General `geff` writer helper
  src/geff/networkx/io.py
  src/geff/writer_helper.py
  tests/test_agnostic/test_writer_helper.py
  tests/test_networkx/test_nx_missing_attrs.py
Labels: :car: implementation

#115 refactor: use dependency groups instead of extras for dev dependencies
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
  .gitignore
  pyproject.toml
Labels: :wrench: maintenance

#127 Fix installs in ci after switching to groups instead of optional deps
  .github/workflows/gh-pages.yaml
Labels: :wrench: maintenance

#128 102 nest geff metadata
  docs/specification.md
  geff-schema.json
  scripts/export_json_schema.py
  src/geff/metadata_schema.py
  tests/test_agnostic/test_utils.py
Labels: :label: metadata

#135 Expose test fixture in pytest plugin
  .github/workflows/ci.yaml
  pyproject.toml
  src/geff/_pytest_plugin.py
Labels: :test_tube: test

#148 Refactor helper functions to provide write_array and write_dict
  .github/workflows/test.yaml
  .gitignore
  pyproject.toml
  src/geff/networkx/io.py
  src/geff/write_arrays.py
  src/geff/write_dicts.py
  src/geff/writer_helper.py
  tests/bench.py
  tests/test_agnostic/test_write_arrays.py
  tests/test_agnostic/test_write_dicts.py
  tests/test_agnostic/test_writer_helper.py
  tests/test_networkx/test_nx_basics.py
  tests/test_networkx/test_nx_missing_attrs.py
Labels: :car: implementation

#154 Add current geff version as default value in GeffMetadata
  geff-schema.json
  src/geff/metadata_schema.py
Labels: :label: metadata

#168 Fix docs styling and autogenerate html docs at mkdocs build-time
  .github/workflows/gh-pages.yaml
  docs/_hooks.py
  docs/css/schema_doc.css
  docs/js/schema_doc.min.js
  docs/specification.md
  mkdocs.yml
  pyproject.toml
Labels: :memo: docs

#184 Test docs on PR
  .github/workflows/gh-pages.yaml
  .gitignore
  docs/api.md
  src/geff/__init__.py
Labels: :memo: docs, :wrench: maintenance

#189 Replace gh-pages concurrency group with a "needs" conditional in actions
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/gh-pages.yaml
Labels: :memo: docs, :wrench: maintenance

#187 implement witty cache directory handling in test workflow
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
Labels: :wrench: maintenance

#181 Add descriptions for each metadata field
  geff-schema.json
  src/geff/metadata_schema.py
Labels: :memo: docs, :label: metadata

#186 Added specs for `related_objects`
  .gitignore
  docs/specification.md
  geff-schema.json
  src/geff/metadata_schema.py
  tests/test_agnostic/test_metadata_schema.py
Labels: :memo: docs, :clipboard: specification, :runner: trackathon, :label: metadata

#155 Add display_hints to geff schema
  docs/specification.md
  geff-schema.json
  src/geff/metadata_schema.py
  tests/test_agnostic/test_metadata_schema.py
Labels: ready-for-final-review

#192 Add track-level node properties schema
  docs/specification.md
  geff-schema.json
  src/geff/metadata_schema.py
Labels: :clipboard: specification, :label: metadata

#141 Read/write ignored attributes to avoid losing them
  geff-schema.json
  src/geff/metadata_schema.py
  src/geff/networkx/io.py
  tests/test_agnostic/test_metadata_schema.py
  tests/test_networkx/test_nx_basics.py
Labels: :label: metadata, ready-for-final-review

#205 Improve docs: affine and extra attributes
  docs/specification.md
Labels: :memo: docs

#159 Support predefined object detection shapes
  .github/PULL_REQUEST_TEMPLATE.md
  docs/specification.md
  geff-schema.json
  src/geff/metadata_schema.py
Labels: :clipboard: specification, :label: metadata

#206 Warn about float16 compatibility with java
  src/geff/units.py
  src/geff/write_arrays.py
  tests/test_agnostic/test_dtype_validation.py
Labels: ready-for-final-review

#222 Only check `path.exists` for local paths
  src/geff/utils.py
  tests/test_agnostic/test_utils.py
Labels: :mag_right: validation

#213 add segmentation validator functions and tests
  src/geff/validators/segmentation_validators.py
  tests/test_validators/test_segmentation_validators.py
Labels: :mag_right: validation

#235 Fix TrackMate graph from XML being undirected
  src/geff/interops/trackmate_xml.py
  tests/test_interops/test_trackmate_xml.py
Labels: :bug: bug

#253 Add properties metadata to GeffMetadata specification
  geff-schema.json
  src/geff/metadata_schema.py
Labels: :clipboard: specification, :label: metadata

#252 codspeed benchmarks
  .github/workflows/ci.yaml
  .gitignore
  README.md
  pyproject.toml
  scripts/benchmark-pr.py
  tests/bench.py
  tests/test_bench.py
Labels: :wrench: maintenance

#264 remove pixi, add justfile
  .gitattributes
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  justfile
  pyproject.toml
Labels: :wrench: maintenance

#265 remove docs benchmarks step
  .github/workflows/gh-pages.yaml
Labels: :wrench: maintenance

#266 Run benchmarks on main
  .github/workflows/ci.yaml
Labels: :wrench: maintenance
